.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: url("../public/hero-background.png") rgb(244, 244, 244);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 76px;

  background: linear-gradient(to top, #121212 0%, #161616 50%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25),
    /* bayangan bawah */ 0px 4px 10px rgba(81, 81, 81, 0.1),
    /* glow tipis */ 0px -1px 1px rgba(87, 87, 87, 0.6); /* highlight atas */
}

.hero-buttons {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 90%;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0.75rem 2rem;
  gap: 4px;

  flex: 1 1 auto;
  min-width: 180px;
  max-width: 300px;
  height: auto;

  border-radius: 1000px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  isolation: isolate;
  position: relative;
  overflow: hidden;

  /* apple glassy ahh button */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: rgba(17, 17, 17, 0.6);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.btn-primary:hover {
  background: rgba(17, 17, 17, 0.75);
  transform: translateY(-2px);
}

.btn-big-1 {
  font-size: 1.3rem;
  padding: 1rem 2.4rem;
}
.btn-big-2 {
  font-size: 1.5rem;
  padding: 1.2rem 2.8rem;
}
.btn-big-3 {
  font-size: 1.7rem;
  padding: 1.4rem 3.2rem;
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.25);
  color: #111;
  border: 1px solid rgba(255, 255, 255, 0.35);
}
.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: translateY(-2px);
}

.animate-fade-in-up {
  animation: fade-in-up 1s linear;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
