.footer {
  padding: 20px 20px; 
  background: url("../public/hero-background.png") rgb(244, 244, 244);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container {
  max-width: 960px; 
  margin: 0 auto;
  text-align: center;
}

.footer-container p {
  font-size: 0.9rem;
  color: #000000;
  margin: 0;
  line-height: 1.5;
}
