.banner-container {
  display: grid;
  gap: 40px;
  max-width: 1000px;
  margin: 60px auto 150px auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #272727;
  opacity: 0;
}

.banner {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.15);
}

.banner img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 10%,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0) 70%
  );
}
.animate-visible.section-title {
  animation: fade-in-up 0.8s linear forwards;
}

.animate-visible.banner.jordhy {
  animation: slide-right 0.8s linear forwards;
}

.animate-visible.banner.hakam {
  animation: slide-left 0.8s linear forwards;
}
.banner.jordhy,
.banner.hakam {
  opacity: 0;
}

.banner-text {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  max-width: 700px;
}

.banner-text h2 {
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.banner-text p {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #a7b34d;
  -webkit-text-stroke: 0.2px black;
}

@media (max-width: 768px) {
  .banner {
    padding: 20px;
  }
  .banner-text h2 {
    font-size: 1.5rem;
  }
  .banner-text p {
    font-size: 1rem;
  }
}
/* 
.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
} */

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
